# RPC URLs (configured in foundry.toml)
BEPOLIA_RPC_URL=https://bepolia.rpc.berachain.com
BERACHAIN_RPC_URL=https://rpc.berachain.com
# Private key (OPTIONAL if you deploy using a ledger)
ETH_PK=

# Etherscan API Key (for verification)
# OPTIONAL
ETHERSCAN_API_KEY=