# RPC URLs (configured in foundry.toml)
BEPOLIA_RPC_URL=https://bepolia.rpc.berachain.com # DON'T TOUCH
BERACHAIN_RPC_URL=https://rpc.berachain.com
MORPHO_OWNER=
# Private key (OPTIONAL if you deploy using a ledger)
ETH_PK=

# BERACHAIN VERIFICATION
BERASCAN_VERIFICATION_KEY=
BERASCAN_VERIFICATION_URL="https://api.berascan.com/api" # DON'T TOUCH

# NOTE: LEAVE HERE
# Etherscan API Key (for verification)
# OPTIONAL
ETHERSCAN_API_KEY=