# RPC URLs (configured in foundry.toml)
BEPOLIA_RPC_URL=https://bepolia.rpc.berachain.com
BERACHAIN_RPC_URL=https://rpc.berachain.com
MORPHO_OWNER=
# Private key (OPTIONAL if you deploy using a ledger)
ETH_PK=

# BERACHAIN VERIFICATION
BERASCAN_VERIFICATION_KEY=
BERATRAIL_VERIFICATION_KEY="verifyContract" # DON'T TOUCH
BERATRAIL_VERIFICATION_URL=
BERASCAN_VERIFICATION_URL=

# NOTE: LEAVE HERE
# Etherscan API Key (for verification)
# OPTIONAL
ETHERSCAN_API_KEY=